.pagination {
  margin: 30px auto 0;
  width: 140px;
  display: none;
  justify-content: space-between;
}

.pagination__item {
  height: 20px;
  width: 35px;
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
  user-select: none;
  position: relative;

}

.pagination__item--prev:hover,
.pagination__item--next:hover {
  background-color: #FFCC00;
  cursor: pointer;
}

.pagination__item--prev:active,
.pagination__item--next:active {
  background-color: bisque;
}

.pagination__hover {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #98A682;
  top: -30px;
  left: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
